<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./contact.css">
</head>
<body>
    <form action="" id="feedback" method="post">
        <input id="email" type="text" placeholder=" Email..." required><br>
        <input id="phone" type="text" name="" id="" placeholder="phone number (optional)" required><br>
        <textarea id="txt" name="" id="" cols="40" rows="10"></textarea><br>
        <button id="send" type="submit">Send</button>
    </form>
</body>
</html>