*{

}
#feedback{
    justify-content: center;
    align-items: center;
    display: block;
    list-style-type: none;
    margin: 250px 600px;
    
    
}#email{
    width: 300px;
    height: 30px;

}
#phone{
    width: 300px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 30px 0;
}
